:root {
  --blue: skyblue;
  --hoverColor: lightblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  
}

.btn {
  width: 100px;
  height: 36px;
  background-color: red;
  margin-top: 20px;
}

.element {
  color: white;
  font-family: 'Roboto-light';
  font-size: 1em;
  padding: 24px;
}

.scrolls {
  margin-top: 20px;
  padding: 20px;
  margin: 12px;
  position: relative;
  height: 600px;
  overflow-y: scroll;
  border: 1px solid blueviolet;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

.nav {
  display: flex;
  height: 96px;
  width: 100%;
  background-color: rgba(white, .3);
  align-items: center;
  justify-content: center;
}

.link {
  color: skyblue;
  padding: 20px;
  display: flex;
  font-family: 'Roboto-light';
  font-size: 2em;
  text-decoration-line: none;
}

.bao {
  border: 1px solid greenyellow;
  padding: 20px;
  background: rgba(black, .4)
}
