:root {
  --blue: skyblue;
  --hoverColor: lightblue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: transparent;
  flex-direction: column;
}

.btn {
  width: 100px;
  height: 36px;
  background-color: red;
  margin-top: 20px;
}
