@import "./setting.scss";

.btn {
  @include button;
  @include showdown;
  @include radius;
}

.btnDisable {
  background-color: $base;
}

.primary {
  background-color: skyblue;
  color: white;
  &:active {
    opacity: 1;
    background-color: rgba(skyblue, .8);
  }
  &:hover {
    opacity: .8;
  }
}

.secondary {
  background-color: lightblue;
  color: white;
  &:active {
    opacity: 1;
    background-color: rgba(lightblue, .8);
  }
  &:hover {
    opacity: .8;
  }
}

.tertiary {
  background-color: green;
  color: white;
  &:active {
    opacity: 1;
    background-color: rgba(green, .8);
  }
  &:hover {
    opacity: .8;
  }
}

.danger {
  background-color: red;
  color: white;
  &:active {
    opacity: 1;
    background-color: rgba(red, .8);
  }
  &:hover {
    opacity: .8;
  }
}

.noFill {
  background-color: transparent;
  border: 1px solid red;
}

.isCircular {
  @include circular(56px);
}

.loader {
  border: 4px solid rgba(black, .3);
  border-top: 4px solid #19C1FF;
  border-radius: 50%;
  margin-left: 8px;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
